
.promt-paper{
    margin-top: 200px;
    justify-content: center;
    height: 200px;
    min-width: min-content;
}
.forgot{
    padding: 25px;
}
.input{
    text-align: center;
}
.text{
    margin-top: 50px;
    text-align: center;
}
.button{
    display: flex;
}
@media(min-width: 400px){
    .promt-paper{
        
        margin-top: 200px;
        justify-content: center;
        width: 250px;
        min-width: min-content;
        margin-left: auto;
        margin-right: auto;
    }
}